#all-preferences-form {
  .button {
    margin-top: 30px;
  }
  .italics {
    font-style: italic;
  }
}


.all-preferences {
  li {
    list-style-type: square;
    line-height: 2.5;
  }

  .italics {
    font-style: italic;
  }
}
