<div class="row column-header">
  <div class="small-12 column">Preferences</div>
</div>
<div class="row" ng-repeat="preference in vm.allPreferencees">
  <!--<a ng-click="vm.readMessage(message)" ng-class="{'read-text': !message.user.read}" ng-repeat="message in vm.messages" ui-sref="details({listId: message.$id})">-->
    <!--<div class="small-5 column title"><span ng-class="{'message-read': !message.user.read, 'message-unread': message.user.read}"></span>{{ message.user.sentBy }}</div>-->
    <!--<div class="small-12 column">{{ preference }}</div>-->
    <div class="small-12 column"><pre>{{ preference | json }}</pre></div>
  <!--</a>-->
</div>
