<div class="container">
  <div class="row">
    <div class="small-5 column">
      <form name="addNewPreferencesForm" id="all-preferences-form" ng-submit="vm.addNewPreferences()" novalidate>

        <div class="row">
          <div class="small-12 column">
            <small><label for="preferences" class="left"> Add New Preferences </label></small>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <input type="text" id="preferences" name="preferences" placeholder="Boys, Girl, Home" ng-model="vm.preferences">
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <small class="italics">Separate multiple preferences with a comma</small>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <input type="submit" name="saveNewPreferencesButton" class="button" value="Save New Preferences">
          </div>
        </div>

        <div class="row error-message">
          <div class="small-12 column">
            <small ng-if="addNewPreferencesForm.$invalid">The text you entered is invalid</small>
          </div>
        </div>

      </form>
    </div>
    <div class="small-5 small-offset-2 column all-preferences">
      <h6 ng-if="vm.productCategories" class="heading">List of Product Categories</h6>
      <ul>
        <li ng-repeat="category in vm.productCategories">{{ category.name }}</li>
      </ul>
    </div>
  </div>
</div>

