<div class="container">
  <div class="row">
    <div class="small-6 column small-offset-3">
      <form name="loginForm" id="login-form" ng-submit="vm.loginUser()" novalidate>

        <div class="row">
          <div class="small-12 column">
            <small><label for="email" class="left"> Email: </label></small>
          </div>
        </div>
        <div class="row">
          <div class="small-10 column">
            <input type="email" id="email" name="email" placeholder="Email" ng-model="vm.credentials.email"
                   ng-required="vm.required">
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <span><label for="password" class="left"> Password: </label></span>
          </div>
        </div>
        <div class="row">
          <div class="small-10 column">
            <input type="password" id="password" placeholder="Password" ng-model="vm.credentials.password"
                   ng-required="vm.required">
          </div>
        </div>

        <div class="row" id="forgot-password">
         <div class="small-6 column">
            <small><a ui-sref="resetPassword">Forgot password? Reset</a></small>
          </div>
        </div>
        <div class="row">
          <div class="small-6 column">
            <input type="submit" name="loginButton" class="button" value="Sign In">
          </div>
        </div>

        <div class="row">
          <div class="small-12 column small-offset-3">
            <small><a ui-sref="signUp">Don't have an account? Sign Up</a></small>
          </div>
        </div>
        <div class="row error-message">
          <div class="small-12 column">
            <small ng-if="loginForm.$invalid">Please enter valid login credentials</small>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

